.navigation__list {
  position: absolute;
  top: -200px;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  background-color: @white;
  z-index: 10;
  transition: 0.5s;

  &--opened {
    top: 65px;
  }

  @media (min-width: @tablet-width) {
    position: static;
    flex-direction: row;
    gap: 35px;
    background-color: transparent;
  }
}

.navigation__item {
  width: 100vw;
  border-top: 1px solid #e6e6e6;
  text-align: center;

  @media (min-width: @tablet-width) {
    border-top: none;
    width: auto;
  }
}

.navigation__link {
  display: block;
  padding: 22px 0;
  font-family: @secondary-font;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    text-decoration: underline 2px @main-color;
    text-underline-offset: 12px;

    @media (min-width: @tablet-width) {
      text-decoration-color: inherit;
    }
  }

  @media (min-width: @desktop-width) {
    color: @white;
    font-weight: 400;
  }
}
