.navigation-toggle {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 40px;
  padding: 0;
  padding-top: 8px;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.navigation-toggle__line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
}

.navigation-toggle__line::before {
  display: block;
  margin-top: 16px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  content: "";
  transition: 0.3s;
}

.navigation-toggle__line::after {
  display: block;
  margin-top: -10px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  content: "";
  transition: 0.3s;
}

.navigation-toggle--opened .navigation-toggle__line {
  background-color: transparent;
}

.navigation-toggle--opened .navigation-toggle__line::before {
  transform: translate3d(0, -3.5px, 0) rotate(45deg);
}

.navigation-toggle--opened .navigation-toggle__line::after {
  transform: translate3d(0, 4.5px, 0) rotate(-45deg);
}
