.page-header {
  display: flex;
  padding: 10px 12px 10px 20px;
  align-items: center;
  justify-content: space-between;
  font-family: @secondary-font;
}

.page-header__title {

}

.page-header__text {

}
