.page-footer {
  display: flex;
  padding: 35px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    padding: 35px 110px;
    background-color: #f2f2f2;
  }

  &--secondary {
    background-color: #f2f2f2;
  }
}

.page-footer__logo {
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__developer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: 16px;
  color: #444444;
  text-decoration: none;
  transition: 0.3s;

  &:hover svg {
    color: #68b738;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 163px;
    justify-self: end;
  }
}

.page-footer__social {
  width: 100%;
}
