.form {
  display: grid;

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__fieldset {
  display: grid;
  padding: 20px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    padding: 20px 50px;
    border-bottom: none;
  }

  &--bordered {
    border-top: 2px solid @main-color;
    border-bottom: none;

    @media (min-width: @desktop-width) {
      grid-column: 1 / -1;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 20px 90px;
  }

  &--cat-info {
    @media (min-width: @desktop-width) {
      padding-right: 20px;
    }
  }

  &--target {
    @media (min-width: @desktop-width) {
      padding-left: 20px;
    }
  }
}

.form__fieldset-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
  }

  &--owner {
    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
    }
  }

  &--checkboxes {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 32px;
      margin-bottom: 54px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--radio {
    padding: 25px;
    row-gap: 10px;

    @media (min-width: @tablet-width) {
      border: 1px solid #e7e7e7;
      margin: 0 20px;
    }

    @media (min-width: @desktop-width) {
      row-gap: 18px;
    }
  }
}

.form__fieldset-item {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: @secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form__fieldset-input {
  width: fill-available;
  margin-left: 10px;
  padding: 13px 16px;
  border: 1px solid #e7e7e7;

  font-family: @secondary-font;
  text-transform: uppercase;

  &--textarea {
    margin-left: 0;
    resize: vertical;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.form__legend {
  width: max-content;
  padding: 20px;
  padding-right: 20px;
  margin-left: -20px;
  font-family: @secondary-font;
  font-size: 28px;
  line-height: 28px;

  @media (min-width: @tablet-width) {
    padding: 20px 40px;

    br {
      display: none;
    }
  }
}

.form__inner-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    width: auto;
    flex-direction: row;
    padding: 0 50px;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
    justify-content: start;
    padding: 0 110px;
    margin-bottom: 80px;
  }
}

.form__button {
  padding: 5px 0;
  text-decoration: none;

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    padding: 5px 85px;
  }

  @media (min-width: @desktop-width) {
    padding: 5px 226px;
    margin-right: 80px;
  }
}
