.catalog-item {
  &--new {

  }
}

.catalog-item__image {

}

.catalog-item__name {
  font-family: @secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-item__description {

}

.catalog-item__description-element {

}
