.catalog {

}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.catalog__item {

}
