.catalog-additional {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 100px;
  }
}

.catalog-additional__title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    padding-left: 65px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
  }

  &::before {
    position: absolute;
    top: 50%;
    display: block;
    height: 2px;
    background-color: @main-color;
    transform: translateY(2px);

    @media (min-width: @tablet-width) {
      width: 5%;
      left: 0 - 30px;
      content: "";
    }

    @media (min-width: @desktop-width) {
      width: 5%;
      left: 0 - 110px;
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 0 - 20px;
    display: block;
    height: 2px;
    width: 20%;
    background-color: @main-color;
    transform: translateY(2px);
    content: "";

    @media (min-width: @tablet-width) {
      width: 40%;
      right: 0 - 30px;
    }

    @media (min-width: @desktop-width) {
      width: 75%;
      right: 0 - 110px;
    }
  }
}

.catalog-additional__list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style-type: none;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.catalog-additional__picture-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.catalog-additional__picture-green {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
  }
}

.catalog-additional__picture {
  display: block;
  width: 100%;
  height: auto;
  max-height: 380px;
  object-fit: cover;

  @media (min-width: @desktop-width) {
    height: 100%;
  }
}

.catalog-additional__picture-text {
  padding: 0 60px;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    text-align: left;
    padding: 0 80px;
  }
}

.catalog-additional__picture-gift {
  align-self: end;

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    align-self: center;
  }
}
